<form method="post" action="">
    <input type="hidden" value="@ViewBag.Id" name="Id"/>
    <table>
        <tr>
            <td><p>Enter Name:</p></td>
            <td><input type="text" name="Name"/></td>
        </tr>
        <tr>
            <td><p>Enter Price:</p></td>
            <td><input type="text" name="Price"/></td>
        </tr>
        <tr>
            <td><p>Enter Weight:</p></td>
            <td><input type="text" name="Weight"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Add Product"/></td>
        </tr>
    </table>
</form>