<form method="post" action="">
    <input type="hidden" value="@ViewBag.Id" name="Id"/>
    <table>
        <tr>
            <td><p>Enter Id:</p></td>
            <td><input type="text" name="Id"/></td>
        </tr>
        <tr>
            <td><p>Enter Number:</p></td>
            <td><input type="text" name="Number"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="MakeReservation"/></td>
        </tr>
    </table>
</form>
